<p id="notice"><%= notice %></p>

<p>
  <strong>User:</strong>
  <%= @present.user_id %>
</p>

<p>
  <strong>Presentation:</strong>
  <%= @present.presentation_id %>
</p>

<%= link_to 'Edit', edit_present_path(@present) %> |
<%= link_to 'Back', presents_path %>
