<% provide(:title, "Add Presentation") %>

<!--This is the html for adding a presentation to a section-->
<div class="full-container">
  <div class="container">
    <div class="card-title course-title">
      <h1><%= "Course: #{Course.find(params[:course_id]).name}" %></h1>
    </div>
  </div>
  <div class="jumbotron jumbotron-fluid form">
    <div class="card">
      <div class="card-body">
        <h4 class="card-title center">Add Presentation</h4>
        <hr class="my-4">
        
        <!--Form to add presentation-->
        <%= form_with(model: @presentation, local: true) do |f| %>
          <%= render 'shared/error_messages' %>
          
          <%= f.text_field :title, placeholder: "Title", class: 'form-control' %>
          <%= f.submit "Add Presentation", class: "btn btn-block btn-primary" %>
        <% end %>
      </div>
    </div>
  </div>
</div>