<p id="notice"><%= notice %></p>

<p>
  <strong>Section:</strong>
  <%= @presentation.section_id %>
</p>

<p>
  <strong>Date:</strong>
  <%= @presentation.date %>
</p>

<p>
  <strong>Close date:</strong>
  <%= @presentation.close_date %>
</p>

<p>
  <strong>Title:</strong>
  <%= @presentation.title %>
</p>

<%= link_to 'Edit', edit_presentation_path(@presentation) %> |
<%= link_to 'Back', presentations_path %>
