<h1>Instructor: <%= @user.name %></h1>

<h1><%= link_to "Add Course", "/courses/new" %></h1>

<div id="accordion" class="course-box">
  <% @user.courses.each do |course| %>
    <div class="card">
      <div class="card-header" id=<%= "heading#{course.id}"%>>
        <h5 class="mb-0">
          <button class="btn btn-link" data-toggle="collapse" data-target=<%= "#collapse#{course.id}"%> aria-expanded="true" aria-controls=<%= "collapse#{course.id}"%>>
            <%= "Course: #{course.name}" %>
          </button>
        </h5>
      </div>
      <div id=<%= "collapse#{course.id}"%> class="collapse" aria-labelledby=<%= "heading#{course.id}"%> data-parent="#accordion">
        <div class="card-body">
          <div id=<%= "accordion#{course.id}"%>>
            <% course.sections.each do |section| %>
              <div class="card">
                <div class="card-header" id=<%= "heading#{course.id}S#{section.id}"%>>
                  <h2 class="mb-0">
                    <button class="btn btn-link" data-toggle="collapse" data-target=<%= "#collapse#{course.id}S#{section.id}"%> aria-expanded="true" aria-controls=<%= "collapse#{course.id}S#{section.id}"%>>
                      <%= "Section: #{section.section_number}"%>
                    </button>
                    <%= link_to "Add Presentation", "/courses/#{course.id}/sections/#{section.id}/presentations/#{section.id}", class: "btn btn-primary" %>
                  </h2>
                </div>
                <div id=<%= "collapse#{course.id}S#{section.id}"%> class="collapse" aria-labelledby=<%= "heading#{course.id}S#{section.id}"%> data-parent=<%= "#accordion#{course.id}"%>>
                  <div class="card-body">
                    <table class="table table-hover">
                      <tbody>
                        <% section.presentations.each do |presentation| %>
                          <tr>
                            <th scope="row"><%= "Presentation: #{presentation.title}"%></th>
                            <td><a class="btn btn-primary" href="#" role="button">Edit</a></td>
                            <td><a class="btn btn-primary" href="#" role="button">Reviews</a></td>
                            <td><a class="btn btn-primary" href="#" role="button">Delete</a></td>
                          </tr>
                        <% end %>
                      </tbody>
                    </table>
                  </div>
                </div>
              </div>
            <% end %>
          </div>
          <%= link_to "Add Section", "/courses/#{course.id}", class: "btn btn-primary" %>
        </div>
      </div>
    </div>
  <% end %>
</div>
