<% provide(:title, 'Instructor Dashboard') %>

<!--This is the html page for the instructor dashboard-->

<div class="full-container">
  
  <h1 class="course-title">Instructor: <%= @user.name %></h1>
  <!-- Add course button -->
  <h1><%= link_to "Add Course", "/courses/new", class: "btn btn-lg btn-primary add-course"%></h1>
  
  <!--Display each course with options for the course..clicking on the course expands more information-->
  <div class="container course-box">
    <% @user.courses.each do |course| %>
      <div class="card course">
        <div class="card-header" id=<%= "heading#{course.id}" %>>
          <h5 class="mb-0">
            <a class="btn btn-lg btn-link course-collapse" type="button" data-toggle="collapse" data-target=<%= "#collapse#{course.id}"%> aria-expanded="false" aria-controls=<%= "collapse#{course.id}" %>>
              <%= "Course: #{course.name}" %>
            </a>
            <%= link_to "Delete", "/courses/#{course.id}", method: :delete, data: { confirm: "Are you sure?" }, class: "btn btn-primary"%>
          </h5>
        </div>
        <div id=<%= "collapse#{course.id}"%> class="collapse">
          <hr class="my-4">
          <div class="card-body">
            <div class="section-box">
              
              <!--Display each sections with options for the section..clicking on each section expands more information-->
              <% course.sections.each do |section| %>
                <div class="card section">
                  <div class="card-header" id=<%= "heading#{course.id}S#{section.id}" %>>
                    <h2 class="mb-0">
                      <div class="left-right">
                        <a class="btn btn-link sec-title" type="button" data-toggle="collapse" data-target=<%= "#collapse#{course.id}S#{section.id}"%> aria-expanded="false" aria-controls=<%= "collapse#{course.id}S#{section.id}"%>>
                          <%= "Section: #{section.section_number}"%>
                        </a>
                        <div>
                          <%= link_to "Add Presentation", "/courses/#{course.id}/sections/#{section.id}/presentations/new", class: "btn btn-primary" %>
                          <%= link_to "Roster", "/sections/#{section.id}/rosters", class: "btn btn-primary" %>
                          <%= link_to "Delete", "/sections/#{section.id}", method: :delete, data: { confirm: "Are you sure?" }, class: "btn btn-primary" %>
                        </div>
                      </div>
                    </h2>
                    
                  </div>
                  
                  <div id=<%= "collapse#{course.id}S#{section.id}"%> class="collapse">
                    <div class="card-body presentation">
                      
                      <!--Displays the presentations with options-->
                      <% section.presentations.each do |presentation| %>
                        <h5 class="mb-0">
                        <div class="left-right">
                          <p class="pres-title"><%= "Presentation: #{presentation.title}"%></p>
                          <div>
                            <%= link_to "Presenters", "/sections/#{section.id}/presentations/#{presentation.id}", class: "btn btn-primary"%>
                            <%= link_to "Reviews", "/reviews/#{presentation.id}", class: "btn btn-primary"%>
                            <%= link_to "Delete", "/presentations/#{presentation.id}", method: :delete, data: { confirm: "Are you sure?" }, class: "btn btn-primary"%>
                          </div>
                        </div>
                        </h5>
                      <% end %>
                    </div>
                  </div>
                </div>
              <% end %>
            </div>
            <%= link_to "Add Section", "/courses/#{course.id}", class: "btn btn-primary margin-top" %>
          </div>
        </div>
      </div>
    <% end %>
  </div>
</div>

