<h1>Instructor<h1>

<h1>Add Course</h1>

<%=@val%>
<div>
  <ul>
    <% @user.courses.each do |course| %>
      <li>number of sections for <%=course.name%> is <%=course.sections.count%></li>
      <div> <%= course.name %> </div>
      <ul>
      <% course.sections.each do |section| %>
       
        <div>Section <%=section.section_number%></div>

        <%section.users.each do |user|%>
          <div><%=user.email%></div>
        <%end%>

        <%= link_to "Add Students", "/courses/"+course.id.to_s+"/sections/"+section.id.to_s%>

        
        
      <%end%>
      </ul>
      <%= link_to "Add Section", "/courses/"+course.id.to_s%>
      <% end %>
  </ul>
</div>


<div class="col-md-6 col-md-offset-3">
    <%= form_with(model: @course, local: true) do |f| %>

      <%= render 'shared/error_messages' %>

      <%= f.label :name %>
      <%= f.text_field :name, class: 'form-control' %>
      <%= f.submit "Create my course", class: "btn btn-primary" %>
    <% end %>
  </div>


