<% provide(:title, 'Sign up') %>

<!--This is the html page for signing up-->
<div class="full-container">
  <div class="jumbotron jumbotron-fluid form">
    <div class="card">
      <div class="card-body">
        <h4 class="card-title center">Sign Up</h4>
        <hr class="my-4">
        
        <!--Form for user to sign up-->
        <%= form_with(model: @user, local: true) do |f| %>
          <%= render 'shared/error_messages' %>

          <div class="form-group">
            <%= f.text_field :name, placeholder: 'Name', class: 'form-control' %>
          </div>
          
          <div class="form-group">
            <%= f.email_field :email, placeholder: 'Email', class: 'form-control' %>
          </div>
          
          <div class="form-group">
            <%= f.password_field :password, placeholder: 'Password', class: 'form-control' %>
          </div>
          
          <div class="form-group">
            <%= f.password_field :password_confirmation, placeholder: 'Confirm Password', class: 'form-control' %>
          </div>
          
          <div class="form-group">
            <%= f.label :is_instructor, "Select if you are a Student or Instructor" %>
            <%= f.select(:is_instructor, [['Student', false], ['Instructor', true]]) %>
          </div>
          
          <%= f.submit "Create my account", class: "btn btn-block btn-primary" %>
        <% end %>
        
        
      </div>
    </div>
  </div>
</div>