<% provide(:title, 'Student Dashboard') %>

<!--This is the html page for the student dashboard-->
<div class="full-container">
  <div class="course-title">
    <!-- Welcoming the user and displaying the number of courses they are enrolled in-->
    <h1>Welcome, <%= @user.name %>!</h1>
    <h3><%= "You are enrolled in #{@sections.size} #{"class".pluralize(@sections.size)}"%></h3>
  </div>
  <div class="container section-box">
    
    <!--Display each section the user is enrolled in..Clicking the section expands information on the presentations-->
    <% @sections.each do |section| %>
      <% pres_to_review, pres_with_feedback = split_pres(section) %>
      <div class="card section course">
        <div class="card-header" id=<%= "heading#{section.id}" %>>
          <h2 class="mb-0">
            <a class="btn btn-link course-collapse" data-toggle="collapse" data-target=<%= "#collapse#{section.id}" %> aria-expanded="false" aria-controls=<%= "collapse#{section.id}" %>>
              <%= "Course: #{section.course.name}, Section: #{section.section_number}"%> 
            </a>
          </h2>
        </div>    
        <div id=<%= "collapse#{section.id}" %> class="collapse">
          <div class="card-body presentation">
            
            <!--Presentation details-->
            <table class="table table-hover">
              <thead>
                <th scope="col">Presentations to Review</th>
                <th scope="col">Action</th>
              </thead>
              <tbody>
                  <% pres_to_review.each do |presentation| %>
                    <tr>
                      <td> <%=presentation.title%> </td>
                      <% if Review.where("user_id = ? AND presentation_id = ?", @user.id, presentation.id).size>0 %>
                        <td><button type="button" class="btn btn-primary" disabled>Completed</button></td>
                      <% else %>                      
                        <td><%= link_to "Review", "/presentations/#{presentation.id}/reviews/new", class: "btn btn-primary" %></td>
                      <% end %>
                    </tr>
                  <%end%>
              </tbody>
            </table>
            
            <hr class="thick-pink-line">
            
            <table class="table table-hover">
              <thead>
                <th scope="col">Your Presentations</th>
                <th scope="col">Feedback</th>
              </thead>
              <tbody>
                <% pres_with_feedback.each do |presentation| %>
                  <tr>
                    <th scope="row"> <%=presentation.title%> </th>
                    <td><%= link_to "View Feedback", "/reviews/#{presentation.id}", class: "btn btn-primary" %></td>
                  </tr>
                <%end%>
              </tbody>
            </table>          
          </div>
        </div>
      </div>
    <%end%>
  </div>
</div>  
  