<div class="full-container">
  <div class="course-title">
    <h1>Welcome, Student Name!</h1>
  </div>
  <div class=" container section-box">
    <% @sections.each do |section| %>
      <% pres_to_review, pres_with_feedback = split_pres(section) %>
      <div class="card section course">
        <div class="card-header" id=<%= "heading#{section.id}" %>>
          <h2 class="mb-0">
            <a class="btn btn-link sec-title" data-toggle="collapse" data-target=<%= "#collapse#{section.id}" %> aria-expanded="false" aria-controls=<%= "collapse#{section.id}" %>>
              <%= "Course: #{section.course.name}, Section: #{section.section_number}"%> 
            </a>
          </h2>
        </div>    
        <div id=<%= "collapse#{section.id}" %> class="collapse">
          <div class="card-body presentation">
            <table class="table table-hover">
              <thead>
                <th scope="col">Presentations to Review</th>
                <th scope="col">Due Date</th>
                <th scope="col">Action</th>
              </thead>
              <tbody>
                  <% pres_to_review.each do |presentation| %>
                    <tr>
                      <td> <%=presentation.title%> </td>
                      <td>Dec 6th</td>
                      <td><%= link_to "Review", "/presentations/#{presentation.id}/reviews/new", class: "btn btn-primary" %></td>
                    </tr>
                  <%end%>
              </tbody>
            </table>
            
            <hr class="thick-pink-line">
            
            <table class="table table-hover">
              <thead>
                <th scope="col">Your Presentations</th>
                <th scope="col">Date Presented</th>
                <th scope="col">Feedback</th>
              </thead>
              <tbody>
                <% pres_with_feedback.each do |presentation| %>
                  <tr>
                    <th scope="row"> <%=presentation.title%> </th>
                    <td>Dec 6th</td>
                    <td><%= link_to "View Feedback", "/reviews/#{presentation.id}", class: "btn btn-primary" %></td>
                  </tr>
                <%end%>
              </tbody>
            </table>          
          </div>
        </div>
      </div>
    <%end%>
  </div>
</div>  
  