<div class="section-box">
  <% @sections.each do |section| %>
    <% pres_to_review, pres_with_feedback = split_pres(section) %>
    <div class="card section">
        <div class="card-header" id=<%= "heading#{section.id}" %>>
          <h2 class="mb-0">
            <button class="btn btn-link" data-toggle="collapse" data-target=<%= "#collapse#{section.id}" %> aria-expanded="false" aria-controls=<%= "collapse#{section.id}" %>>
              <%= "Course: #{section.course.name}, Section: #{section.section_number}"%> 
            </button>
          </h2>
        </div>    
        <div id=<%= "collapse#{section.id}" %> class="collapse">
          <div class="card-body">
            <table class="table table-hover">
              <thead>
                <th scope="col">Presentations to Review</th>
                <th scope="col">Due Date</th>
                <th scope="col">Action</th>
              </thead>
              <tbody>
                  <% pres_to_review.each do |presentation| %>
                    <tr>
                      <th scope="row"> <%=presentation.title%> </th>
                      <td>Dec 6th</td>
                      <td><%= link_to "Review", "/presentations/#{presentation.id}/reviews/new", class: "btn btn-primary" %></td>
                    </tr>
                  <%end%>
              </tbody>
            </table>
            
            <hr class="my-4">
            
            <table class="table table-hover">
              <thead>
                <th scope="col">Your Presentations</th>
                <th scope="col">Date Presented</th>
                <th scope="col">Feedback</th>
              </thead>
              <tbody>
                <% pres_with_feedback.each do |presentation| %>
                  <tr>
                    <th scope="row"> <%=presentation.title%> </th>
                    <td>Dec 6th</td>
                    <td><a class="btn btn-primary" href="#" role="button">View Feedback</a></td>
                  </tr>
                <%end%>
              </tbody>
            </table>          
            
          </div>
        </div>
      </div>
    <%end%>
   </div>
    
   