<p id="notice"><%= notice %></p>

<p>
  <strong>Section number:</strong>
  <%= @section.section_number %>
</p>

<p>
  <strong>Time:</strong>
  <%= @section.time %>
</p>

<p>
  <strong>Course:</strong>
  <%= @section.course_id %>
</p>

<p>
  <strong>Section type:</strong>
  <%= @section.section_type %>
</p>

<%= link_to 'Edit', edit_section_path(@section) %> |
<%= link_to 'Back', sections_path %>
