<% provide(:title, "Presenters") %>

<!--This is the html for the list of presenters for a presentation-->

<div class="full-container">
  <div class="course-title">
    <h1>Add Presenter to Presentation: <%=@current_presentation.title%></h1>
  </div>
  
  <!--Displaying the presenters for the presentation-->
  <div class="jumbotron jumbotron-fluid form card">
    <%users = @current_presentation.users%>
    <% if users.blank?%>
      No presenters to display
    <%else%>
      <table class="table table-hover">
        <thead>
          <th scope="col">Presenter #</th>
          <th scope="col">Presenter Name</th>
          <th scope="col">Presenter Email</th>
          <th scope="col"></th>
        </thead>
        <tbody>
          <% i=1 %>
          <% users.each do |user| %>
            <tr>
              <th scope="row"> <%=i%> <%i=i+1%></th>
              <td scope="row"><%=user.name%></td>
              <td scope="row"><%=user.email%></td>
              <%presenter = Presenter.find_by(user_id: user.id, presentation_id: @current_presentation.id)%>
              <td><%= link_to "Delete", "/sections/#{params[:section_id]}/presentations/#{@current_presentation.id}/presenters/#{presenter.id}", method: :delete, data: { confirm: "Are you sure?" }, class: "btn btn-primary"%></td>
            </tr>
          <%end%>
        </tbody>
      </table>       
    <%end%>
  </div>
  
  <!--Form to add student as a presenter to the presentation-->
  <div class="jumbotron jumbotron-fluid form">
    <div class="card">
      <div class="card-body">
        <%= form_with(model: @presentation, local: true) do |f| %>
    
          <%= render 'shared/error_messages' %>
          
          <%= f.text_field :email, placeholder: 'Email', class: 'form-control' %>
          <%= f.submit "Add Presenter", class: "btn btn-block btn-primary" %>
        <% end %>
      </div>
    </div>
  </div>
  
</div>
