<div class="full-container">
  <div class="course-title">
    <h1>Reviews for <%=@presentation.title%></h1>
  </div>
  <div  class="jumbotron jumbotron-fluid form card">
    <table class="table table-hover">
      <thead>
        <% if @user.is_instructor %>
          <th scope="col">Student</th>
        <% else %>
          <th scope="col">Review #</th>
        <% end %>
        <th scope="col">Score</th>
        <th scope="col">Feedback</th>
      </thead>
      <tbody>
        <% i=1 %>
        <% sum = 0.0 %>
        <% @presentation.reviews.each do |review| %>
          <tr>
            <% if @user.is_instructor %>
              <td scope="col"><%=review.user.name%></td>
            <% else %>
              <th scope="row"> <%= i %> <% i += 1 %></th>
            <% end %>
            <td><%=review.score%><% sum += review.score %></td>
            <td><%=review.comment%></td>
          </tr>
        <%end%>
        <tr>
          <td>Average Score:</td>
          <td><%= (sum / @presentation.reviews.size).round(2) %></td>
          <td></td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
